# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

.pnpm-store/
node_modules/
dist/
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
*.orig

# VitePress
docs/**/*
!docs/
!docs/.vitepress/
!docs/.vitepress/theme/
!docs/public/
!docs/guide/
!docs/.vitepress/config.ts
!docs/.vitepress/tsconfig.json
!docs/.vitepress/vue-shim.d.ts
!docs/.vitepress/theme/**
!docs/public/**
!docs/guide/**
!docs/index.md
!docs/vitepress-env.d.ts